/* itemList */
.item-data {
    text-decoration: none;
  }
  
  .image img {
    width: 100%;
    /* height: 10rem; */
    object-fit: contain;
  
  }
  .image-info {
    line-height: 15px;
  }

  /* item details */
  .item-details {
    width: 88px;
    margin-bottom: 2rem;
  }

  @media(max-width: 767px){
    /* .item-details {
      display: flex;
      justify-content: space-between !important;
    } */
  }