@import './styles.css/search.css'; 
@import './styles.css/footer.css'; 
@import './styles.css/itemList.css'; 
@import './styles.css/category.css'; 
@import './styles.css/order.css'; 


:root {
  --royal-blue: #2766cc;
  --sandybrown: #f8de4b;
  --indiared: #dd655e;
  --darkgray: #a5a5a5;
  --darkslategray: #3f3f3f;
  --whitesmoke: #f0f0f0;
  --skyblue: #8bade4;
  --lavender: #e9eff9;
  --mediumseagreen: #68d468;
}

.bg-lavender{
  background-color: var(--lavender) !important;
}
.border-lavender{
  border: 3px solid var(--lavender) !important;
}
.color-lavender{
  color: var(--lavender) !important;
}

.bg-skyblue{
  background-color: var(--skyblue) !important;
}
.border-skyblue{
  border: 3px solid var(--skyblue) !important;
}
.color-skyblue{
  color: var(--skyblue) !important;
}

.bg-royal-blue{
  background-color: var(--royal-blue) !important;
}
.border-royal-blue{
  border: 3px solid var(--royal-blue) !important;
}
.color-royal-blue{
  color: var(--royal-blue) !important;
}

.bg-sandybrown{
 background-color: var(--sandybrown) !important;
}
.border-sandybrown{
 border: 1px solid var(--sandybrown) !important;
}
.color-sandybrown{
 color: var(--sandybrown) !important;
}

.bg-indiared{
 background-color: var(--indiared) !important;
}
.border-indiared{
 border: 1px solid var(--indiared) !important;
}
.color-indiared{
 color: var(--indiared) !important;
}

.bg-darkgray{
 background-color: var(--darkgray) !important;
}
.border-darkgray{
 border: 3px solid var(--darkgray) !important;
}
.color-darkgray{
 color: var(--darkgray) !important;
}
.bg-darkslategray{
 background-color: var(--darkslategray) !important;
}
.border-darkslategray{
 border: 1px solid var(--darkslategray) !important;
}
.color-darkslategray{
 color: var(--darkslategray) !important;
}
.bg-mediumseagreen{
 background-color: var(--mediumseagreen) !important;
}
.border-mediumseagreen{
 border: 1px solid var(--mediumseagreen) !important;
}
.color-mediumseagreen{
 color: var(--mediumseagreen) !important;
}

.App {
  text-align: center;
  background-color: var(--royal-blue);
}

.global-haeader {
  background-color: var(--royal-blue);
  width: 100%;
  padding: 15px 0;
  color: #fff;
}

.global-haeader p {
  margin-bottom: 0;
}

.global-header .navLink .navLink-item{
  color: var(--darkslategray)

}

.badge {
  border: none;
  background-color: var(--royal-blue);
  font-size: 14px;
}

.fontWeight {
  font-weight: 700;
}

.round {
  border-radius: 15px;
}

.counter span{
  font-size: 20px;
  cursor: pointer;
}

/* home root */
.home-root {
  margin-top: -1rem;
}

.bag-sidebar p{
  font-weight: 700;
  font-size: 18px;
  color: var(--darkslategray);
}

.bag-sidebar .icon {
  color: var(--darkgray);
}

.bag-content {
  line-height: 15px;
  text-align: center;
}
.bag-content .heading {
  font-size: 18px;
  margin-bottom: 0;
}
.bag-content .text {
  padding-top: 8px;
  font-size: 14px;
} 

.bag-payment {
  font-size: 20px;
}

.whatsapp-icon {
  font-size: 30px;
}

/* header styles */
.navList .icon {
  width: 60px;
  height: 60px;
  color: var(--darkgray);
  background-color: var(--whitesmoke);
  padding: 10px;
  border-radius: 50%;
}
.navList .inner-con {
  margin-left: 20px;
}
.navList .title {
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 2px;
  color: var(--darkslategray);
}
.navList .sub-title{
  margin-bottom: 0;
  color: var(--darkgray);
}

.navLink-item {
  text-decoration: none;
  color: var(--darkgray);
  font-weight: 600;
  font-size: 15px;
}

hr {
  color: var(--darkslategray);
  border-bottom: 0;
}
.outdated-price {
  text-decoration: line-through;
}

/* sliderone */
  .sliderone {
    width: 100%;
    object-fit: contain;
  }

/* bag */
.B-payment {
  margin-bottom: 20rem;
  color: var(--darkgray);
}


.subtotal {
  margin-bottom: 1rem;
  padding-bottom: 10px;
  border-bottom: 2px dashed var(--darkgray);
}

.mediumseagreen {
  color: var(--mediumseagreen);
  font-size: 12px;
  font-weight: 800;
}

.line-height{
  line-height: 5px;
}

.info {
  font-size: 13px;
}

/* checkout */
form input {
  width: 20rem;
  margin-top: 5px;
  border: 1px solid var(--darkgray);
  padding-left: 10px;
  outline: none;
  border-radius: 5px;
}

/* add-address */
.add-address {
  cursor: pointer;
}

.dialog-content input, textarea {
  width: 30rem;
  height: 3rem;
  outline: none;
  border-radius: 5px;
  padding-left: 8px;
  margin-bottom: 1rem;
  border: 2px solid var(--darkgray);
}

textarea {
  height: 6rem;
}


.verify-content input {
  width: 3rem;
  height: 3rem;
  border-radius: 5px;
  outline: none;
  border: none;
  background-color: #f0f0f0;
  padding-left: 5px;
  margin-left: 2rem;
  padding-left: 1.1rem;
  font-size: 20px;
}

.active {
  background-color: #caced6;
  padding: 8px 20px;
  color: var(--royal-blue);  
  border-radius: 20px;
}

/* mobile view */
@media(max-width: 767px) {
.category-sidebar, .main-items {
  border: none !important;
}

.is-active {
  border-top: 4px solid var(--royal-blue);
  color: var(--royal-blue) !important;  
  margin-top: 0;
}

.is-active p, .is-active .mobile-footer-icon {
  color: var(--royal-blue) !important;  
}
.line-height{
  line-height: 15px;
}


#desktop-category, #bag-sidebar, #deskstop-global-header, #desktop-itemlist {
  display: none;
   }

   .category-sidebar, .bag-sidebar{
    display: none;
   }
   .searchForm {
    position: relative !important;
    margin-top: 0px !important;
  }
  .searchForm input {
    width: 20rem;
    height: 3rem;
    padding-left: 8px;
  }
}

@media(min-width: 768px) {
 #mobile-global-header, .mobile-itemlist{
   display: none;
 }
}